#game-content{
    background-color: #0d8aa6;
}
.person-information{
    background-color: #0d8aa6;
    color: #fff;
    font-size: 18px;
    height: 80px;
}
.person-information:after{
    clear: both;
}
#game-field, #game-cottage, #game-house, #game-trailer, #game-bank, 
#game-found, #game-pif, #game-shop, #game-insure, #game-helicopter, 
#game-yacht, #game-newcar, #game-oldcar, #game-suit, #game-expensive-suit{
    display: block; 
    background: url('../images/sprite_c.png') no-repeat; 
}
#game-field{
    position: relative;
    background-position: -1px -0px; 
    width: 1000px; 
    height: 565px;
}
#game-yacht{
    position: absolute;
    background-position: -139px -965px; 
    width: 113px; 
    height: 86px;
    bottom: 75px;
    left: 290px;
    z-index: 9;
}
#game-oldcar, #game-newcar{
    position: absolute;
    background-position: -903px -983px; 
    width: 73px; 
    height: 56px;
    bottom: 130px;
    left: 480px;
    z-index: 8;
}
#game-newcar{
    background-position: -903px -926px;
    left: 342px;
    bottom: 112px;
}
#game-suit, #game-expensive-suit{
    position: absolute;
    background-position: -928px -786px; 
    width: 24px; 
    height: 26px;
    bottom: 170px;
    left: 500px;
    z-index: 10;
}
#game-expensive-suit{
    background-position: -953px -786px;
}
#game-house, #game-cottage, #game-trailer, #game-house:hover, #game-cottage:hover{
    position: absolute;
    background-position: -334px -566px; 
    width: 332px;
    height: 219px;
    bottom: 70px;
    left: 210px;
    z-index: 5;
}
#game-cottage{
    background-position: -1px -566px;
}
#game-trailer{
    background-position: -667px -566px;
}
#game-house:hover{
    background-image: url('../images/gifs/house.gif');
    background-position: 0px 0px;
}
#game-cottage:hover{
    background-image: url('../images/gifs/cottage.gif');
    background-position: 0px 0px;
}
#game-shop, #game-shop:hover{
    position: absolute;
    background-position: -739px -786px; 
    width: 188px; 
    height: 139px;
    right: 135px;
    top: 63px;
}
#game-shop:hover{
    background-image: url('../images/gifs/shop.gif');
    background-position: 0px 0px;
}
#game-bank, #game-bank:hover{
    position: absolute;
    background-position: -1px -786px; 
    width: 273px; 
    height: 178px;
    top: 8px;
    left: 325px;
}
#game-bank:hover{
    background-image: url('../images/gifs/bank.gif');
    background-position: 0px 0px;
}
#game-pif, #game-pif:hover{
    position: absolute;
    background-position: -507px -786px; 
    width: 231px;
    height: 217px;
    bottom: 100px;
    right: 190px;
}
#game-pif:hover{
    background-image: url('../images/gifs/pif.gif');
    background-position: 0px 0px;
}
#game-insure, #game-insure:hover{
     position: absolute;
     background-position: -739px -926px; 
     width: 163px; 
     height: 234px;
     top: 30px;
     left: 200px;
}
#game-insure:hover{
    background-image: url('../images/gifs/insure.gif');
    background-position: 0px 0px;
}
#game-found, #game-found:hover{
    position: absolute;
    background-position: -275px -786px; 
    width: 231px;
    height: 199px;
    top: 145px;
    left: 440px;
}
#game-found:hover{
    background-image: url('../images/gifs/found.gif');
    background-position: 0px 0px;
}
#game-trailer, #game-trailer:hover{
    position: absolute;
    background-position: -667px -566px; 
    width: 332px; 
    height: 219px;
    bottom: 90px;
    left: 180px;
}
#game-trailer:hover{
    background: url('../images/gifs/trailer.gif') no-repeat;
    background-position: 0px 0px;
}
.tooltip
{
    margin: 5px auto;
    background: #fff;
    padding: 5px;
    border: 3px #ccc solid;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    /*top: -40px;*/
}
.has-tooltip
{
    cursor: pointer;
}
.game-link a{
    display: block;
    width: 100%;
    text-indent: -9999px;
}
#game-oldcar .game-link a{
    height: 56px;
}
#game-suit .game-link a, #game-expensive-suit .game-link a{
    height: 26px;
}
#game-house .game-link a, #game-trailer .game-link a, #game-cottage .game-link a{
    height: 219px;
}
#game-bank .game-link a{
    height: 178px;
}
#game-shop .game-link a{
    height: 139px;
    text-indent: -9999px;
}
#game-insure .game-link a{
    height: 320px;
    text-indent: -9999px;
}
#game-pif .game-link a{
    height: 213px;
    text-indent: -9999px;
}
#game-found .game-link a{
    height: 222px;
    text-indent: -9999px;
}
.debug-bar
{
    display: none;
}
#game-panel{
    position: absolute;
    width: 100%;
    height: 140px;
    bottom: 0px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}
#game-manual, #game-tips{
    position: absolute;
    background-color: #202020;
    width: 160px;
    height: 38px;
    color: #fff;
    font-weight: bold;
}
#game-manual{
    background: url('../images/manual.png') no-repeat;
}
#game-tips{
    background: url('../images/tips.png') no-repeat;
}
#game-manual a, #game-tips a{
    padding: 5px;
    text-decoration: none;
    display: block;
    color: #fff;
    text-indent: -9999px;
}
#game-manual, #game-tips, #game-news, #game-events{
    opacity: 0.5;
}
#game-manual{
     top: 10px;
    left: 10px;
}
#game-tips{
    top: 50px;
    left: 10px;
    z-index: 100;
}
#game-news, #game-events{
    position: absolute;
    width: 350px;
    height: 100px;
    z-index: 100;
}
#game-news{
    top: 10px;
    left: 200px;
    width: 350px;
}
#game-events{
    top: 10px;
    left: 570px;
    
}
.game-event-header, .game-news-header{
    color: #fff;
    font-weight: bold;
    display: block;
	width: 351px;
    height: 38px;
	text-indent: -9999px;
}
.game-news-header{
	background: url('../images/news_header.png') no-repeat;
}
.game-event-header{
    background: url('../images/events_header.png') no-repeat;
}
.game-event-body, .game-news-body{
    width: 339px;
	margin-top: 0px;
	margin-left: 4px;
    padding: 2px;
    overflow-y: auto;
    font-size: 10px;
    height: 78px;
    background-color: #a3d8a2;
    border-radius: 0px 0px 5px 5px;
}
.game-news-bg{
    background: #fff url('../images/kp_bg.png') bottom fixed;
    height: 350px;
    position: relative;
}
.game-news-inner-content{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: #fff;
    padding: 5px;
    font-weight: bolder;
}
#game-popup{
    display: none;
    position: absolute;
    z-index: 10000;
    top: 13%;
    left: 170px;
    width: auto;
    max-width: 600px;
    max-height: 500px;
    min-width: 600px;
    margin: 0 auto;
}
#game-popup-header{
    text-align: center;
    background: url('../images/header_popup_c.png') no-repeat;
    height: 31px;
    font-weight: bold;
    color: #fff;
    line-height: 28px;
}
#game-popup-content{
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
    max-width: 580px;
    margin: 0 auto;
    padding: 5px;
}
#game-layout-overlay
{
    position: absolute;
    top: 0px;
    left: 0px;
    background: #aaa url('../images/overlay.png') 50% 50% repeat-x;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999;
    opacity: 0.3;
}
#popup-close-button, .alt-close-button{
    width: 20px;
    height: 21px;
    text-indent: -9999px;
    cursor: pointer;
    color: #fff;
    background: url('../images/interface_parts/button_close.png') no-repeat;
    position: absolute;
    right: -5px;
    top: -5px;
    
}
.negative{
    color: #C00;
}
.positive{
    color: #76C376;
}
.game-next{
    display: block;
    text-indent: -9999px;
    background: url('../images/interface_parts/button_next.png') no-repeat;
    width: 39px;
    height: 68px;
}
#game-loader{
    width: 80px;
    height: 63px;
    background-image: url('../images/loader.gif');
    display: none;
    position: absolute;
    left: 450px;
    top: 400px;
    z-index: 1999;
}
.game-little-star{
    display: inline-block;
    width: 30px;
    height: 29px;
    background-image: url('../images/interface_parts/unlevel.png');
}
.game-level-star{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../images/interface_parts/level.png');
}
.game-form-textfield[readonly="readonly"]{
    background-color: #fff;
    border:0;
    color:#f6931f;
    font-weight:bold;
}
a.game-tool-button{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #FF4136;
    border: 1px solid #DDD;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
a.game-tool-button:hover{
    background-color: #DB1E13;
    color: #FFF;
}
.game-button-panel{
    text-align: right;
    clear: both;
}
.tool-note-detail{
    font-size: 10px;
}
.game-panel-block{
    width: 130px;
    float: left;
    text-align: center;
    vertical-align: center;
    padding-top: 5px;
}
.game-panel-block-stars{
   width: 250px;
}
.game-panel-block-name{
    font-size: 12px;
}
.game-panel-block-avatar{
    width: 80px;
}
.game-tips{
    padding: 10px;
}
.game-tip-description{
    padding: 10px;
    font-size: 13px;
}
.tool-description{
    padding: 10px 10px;
}
.suit, .cottage, .expensive-suit, .helicopter, .newcar, 
.oldcar, .house, .yacht
{ display: block; background: url('../images/shop_sprite_c.png') no-repeat;box-shadow: 0 0 10px rgba(0,0,0,0.5); position:relative;}

.yacht{background-position: -72px -213px; width: 70px; height: 70px;}
.house{background-position: -1px -213px; width: 70px; height: 70px;}
.suit{background-position: -1px -0px; width: 70px; height: 70px;}
.expensive-suit{background-position: -1px -71px; width: 70px; height: 70px;}
.newcar{background-position: -1px -142px; width: 70px; height: 70px;}
.oldcar{background-position: -72px -142px; width: 70px; height: 70px;}
.cottage{background-position: -72px -0px; width: 70px; height: 70px;}
.helicopter{background-position: -72px -71px; width: 70px; height: 70px;}

.lock{
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0px;
    background: url('../images/lock.png') no-repeat;
}
table tr.caption{
    background-color: #ececec; 
}
table tr.caption td{
    text-align: center;
    font-weight:700;
}
table tr.caption td:first-child{
    width: 100px;
}
table tr td {
    text-align: center;
}
a.game-green-button{
    display: inline-table;
    width: 75px;
    height: 27px;
    background: url('../images/button.png') no-repeat;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    line-height: 27px;
}